@keyframes loop-scroll-ltr {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes loop-scroll-rtl {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-loop-scroll-ltr {
  display: flex;
  white-space: nowrap;
  animation: loop-scroll-ltr 15s linear infinite;
}

.animate-loop-scroll-rtl {
  display: flex;
  white-space: nowrap;
  animation: loop-scroll-rtl 15s linear infinite;
}

.brand-slider, .brand-slider2 {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.brand-slider div, .brand-slider2 div {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
}

.brand-slider img, .brand-slider2 img {
  height: 120px;
  margin-right: 2.5rem;
  padding-left: 100px;
 
}

.brand-slider div {
  margin-top: 3rem;
}

.brand-slider2 div {
  margin-top: 2.5rem;
}