@keyframes loop-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-loop-scroll {
  display: flex;
  white-space: nowrap;
  animation: loop-scroll 15s linear infinite;
}

.text-container {
  text-align: center;
  padding: 10px 0;
}

.text-container h2 {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
  margin-bottom: 0;
}

.brand-slider {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.brand-slider div {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
}

.brand-slider img {
  height: 120px; /* h-16 in Tailwind */
  margin-right: 2.5rem; /* space-x-10 */
  padding-left: 100px;
}
